extends layout

block content
	#wrap
		#main
			#header
				h1= title
				
			#workarea
				//.row
				//	p.time 00:00
				//		a(href="#")
				//			span.stretchout
				//	
				//	a.del(href="#")
				//		img(src="/images/del.png")
						
			.adder
				a(href="#")
					span.stretchout
						center +
					
	#footer