extends layout

block content
	#wrap
		#main
			#header
				h1= title
			workarea
				.row
					p.time 00:00
					
					a.del(href="#")
						img(src="/images/del.png")
				
				.row.add +
					
				
	#footer