extends layout

block content
	#wrap
		#main
			#header= title
			#workarea
			.adder
				a(href="#")
					span.stretchout
						center +
	#footer
		center some sort of information will probably go here?
	center
		img.cat.hidden(src="/images/cat.png");